.grid1 {
    display: grid;
    column-gap:50px;
    border-style:solid;
    border-radius:16px;

}

html  {
    background-color:plum;
    border-color:pink;
    color:pink;
}

.grid-item {
display:grid;

}